# SIGGD Game 2026 Code Owners
# Everyone in this team is automatically requested as a reviewer on every pull
# request opened against main.
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

*   @PurdueSIGGD/2027CodeReviewers
